@import "style.css";

/* Timeline Container */
.timeline {
    border-radius: 5rem;
    box-shadow: 0 0 2rem var(--secondary-color);
    margin: 3rem auto;
    padding: 5rem;
    max-height: 70vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.timeline::-webkit-scrollbar {
    display: none;
  }

/* Card container */
.card {
    position: relative;
    min-width: 30vw;
    max-width: 30vw;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}

.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}

/* Global ::before */
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--main-color);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

.info {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: .5 ease;
}

.org {
    font-size: 2.4rem;
}

.title {
    font-family: 'Audiowide', cursive;
    color: var(--secondary-color);
    font-size: 1.9rem;
    position: relative;
}

.dates {
    font-size: 1.6rem;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--secondary-bg-color);
    border-radius: 999px;
    border: 3px solid var(--text-color);
}

/* text right if the card is even  */
.card:nth-child(even)>.info {
    text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd)>.info>.title::before {
    left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even)>.info>.title::before {
    right: -45px;
}